<!DOCTYPE html>
<html>
    <head>
        <meta lang="en">
        <meta charset="UTF-8">
        <title>BURGERTIME</title>
        <link rel='stylesheet' href='./normalize.css'>
        <link rel='stylesheet' href="./skeleton.css">
        
    </head>
    <body>
        {{{body}}}
    </body>
</html>